/* index.css */

/* Styles for the TODO list container */
.todos {
  margin-top: 20px;
}

/* Styles for individual TODO items */
.todos p {
  margin: 5px 0;
}

.todos p.finish {
  text-decoration: line-through;
  color: gray;
}
